* {
  margin: 0;
  padding: 0;
}

.about-container {
  position: relative;
  height: 100vh;
}

.about-container::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('../images/floresta.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-position: top center;
  min-height: 100vh;
  opacity: 0.3;
}

.about-titles h1, .about-titles h2, .aboutParagraph p {
  color: black;
  position: relative;
}

.about-titles h1 {
  font-size: 80px;
  padding: 0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.about-titles h2 {
  font-size: 50px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.aboutParagraph p {
  font-size: large;
  padding: 0 50px;
  margin-top: 15px;
}

.about-titles {
  text-align: center;
}

.aboutParagraph {
  display: flex;
}

footer {
  width: 101%;
  margin: -0% -1%;
  margin-bottom: -1%;
  font-size: 30px;
  background-color: #333;
  display: flex;
  justify-content: center;
  font-weight: bold;
}